#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /*text-align: center;*/
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    display: block
}

/*

    Hex Codes: #2A2A42, #E93F25, #545F95, #D0DEC7, #F7DF95

*/