:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color-scheme: light;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    width: 100%;
}

#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
    font-family: Signika-Bold;
    font-weight: bold;
    src: url("../assets/signika/Signika-Bold.ttf") format('truetype');
}

.styled-bg {
    background: linear-gradient(0deg, rgba(23, 22, 22, 0.90), rgba(23, 22, 22, 0.90)), url('../assets/folk-pattern.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.LogoWrapper {
    width: 100%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
