.SectionTitle {
    font-size: 1.4em;
    font-family: Signika-Bold;
    text-align: center;
}

.SectionTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SectionTitleWrapper > i {
    font-size: 2em;
    color: #f79a6b;
    padding-right: .2em;
}

.SectionSubTitle {
    font-size: 1.2em;
    font-family: Signika-Bold;
    color: #f79a6b;
}

.Section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.SectionContentWrapperFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.About {
    text-align: center;
    max-width: 700px;
    margin: 1em;
}

.About {
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */

}