@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
   
}


.quoteBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.quoteBody > p {
    max-width: 80%;
}

.quoteBodyHeader {
    color: #f79a6b;
    font-weight: bold;
    font-size: 1.2em;
}