.ServiceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ServiceWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ServiceContent {
    display: flex;
    flex-direction: column;
}

.ServiceContent > p {
    text-align: center;
}

.ServiceWrapper > div {
    flex: 1 1 50%;
    margin-top: 1em;
}

.QuoteButton {
    color: white;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    align-self: center;
    font-weight: bold;
    font-family: Signika-Bold;
    font-size: 1.3em;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F5793B;
    margin-top: 3em;
    margin-bottom: 2em;
    
}

.ServiceContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .RepairSteps {
        border: 5px solid #f79a6b;
        border-radius: 10px;
        margin: 1em;
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .ServiceWrapper {
        flex-direction: column;
    }
}