.DealCardWrapper {
    margin-bottom: 1em;
    width: 100%;
    justify-content: space-evenly;
}

.DealCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    text-align: center;
    padding: 1em;
    

}

.DealCard i {
    font-size: 2em;
}

@media only screen and (min-width: 852px) {
    /* tablets and desktop */
    .DealCard {
        flex: 1 1 30%;
        border-radius: 10px;
        max-width: 250px;
        background: linear-gradient(0deg, rgba(23, 22, 22, 0.9), rgba(23, 22, 22, 0.9)), url('../../assets/folk-pattern.webp');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 851px) {
    /* phones */
    .DealCard {
        width: 100%;
        flex: 1 1 100%;
    }

    .DealCardWrapper {
        background: linear-gradient(0deg, rgba(23, 22, 22, 0.90), rgba(23, 22, 22, 0.90)), url('../../assets/folk-pattern.webp');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
