.SocialMediaWrapper {
    justify-content: center;
    width: 100%;
}

.SocialMediaIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #F5793B;
    margin: 4em;
}

.SocialMediaWrapper i {
    font-size: 4em;
}

.SocialMediaWrapper a {
    color: #F5793B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.SocialMediaWrapper a:visited {
    color: #f79a6b;
}
